<?xml version="1.0" encoding="utf-8"?>
<!-- Applied on publish with the Release configuration (shared production settings). -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FeeBillingEntities"
         connectionString="metadata=res://*/FeeBilling.csdl|res://*/FeeBilling.ssdl|res://*/FeeBilling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLPROD01;initial catalog=FeeBilling;user id=feebilling_app;password=Fb-Prod-2019!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="FeeBillingAdo"
         connectionString="Data Source=SQLPROD01;Initial Catalog=FeeBilling;User Id=feebilling_app;Password=Fb-Prod-2019!"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="FeeBillingReporting"
         connectionString="Data Source=SQLRPT01;Initial Catalog=FeeBillingReporting;User Id=feebilling_rpt;Password=Fb-Rpt-2019!"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>
