<?xml version="1.0" encoding="utf-8"?>
<!-- Applied on publish with the Debug configuration. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Smtp.Host" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
